.header-text {
    width: 100%;
    text-indent: 20px;
    background-color: var(--grey);
    color: var(--dark);
    padding: 15px;

    h1 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }
}