.tdGrade {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 2px;
    position: relative;
}

.tdGrade.red {
    background-color: #ff0000;
}

.tdGrade.orange {
    background-color: #ff6600;
}

.tdGrade.green {
    background-color: #00ff00;
}

.gradeDescription {
    position: absolute;
    top: 100%;
    left: 100%;
    border: 1px solid black;
    padding: 10px;
    min-width: 200px;
    border-radius: 3px;
}