.frequenceDisplay {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 2px;
    position: relative;
}

.frequenceDescription {
    position: absolute;
    top: 100%;
    left: 100%;
    border: 1px solid black;
    padding: 3px;
    border-radius: 3px;
    background-color: gray;;
}